Source: adaptation-samsung-s20fe
Maintainer: Mathew Dennis <mathewdennis693@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 13),
               debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: adaptation-samsung-s20fe
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api30-phone,
         adaptation-samsung-s20fe-configs (= ${binary:Version}),

Description: Community adaptation for Samsung S20 FE - metapackage

Package: adaptation-samsung-s20fe-configs
Architecture: arm64
Depends: ${misc:Depends}
Description: Community adaptation for Samsung S20 FE - adaptation configurations